

h1, h2, h3{
	font-family: 'Fira Sans', sans-serif;

}

h1{
	margin: 19px 0 0 0;
}

#my-name span{
	font-size: 4.5rem;
}

h2{
	margin: 0;
	font-size: 2rem;
}

h2, h3{
	color:#505050;
}

p, span{
	font-family: 'Merriweather', serif;
	color:#505050;
}

a{
	font-family: 'Merriweather', serif;
	font-size: 1.2rem;
	color:#FC5185;
}

html{
	height: 100%;
}

body{
	margin:0;
	padding: 0;
	max-width: 100%;
	background-color: #fefefe;
	animation-name: fadeIn;
	animation-duration: .5s;
}


header{
	width: 450px;
	padding: 0;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	border-right: 3px solid #FC5185;
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 10vh 10vh auto auto;
	grid-template-areas: 
	"name"
	"aside"
	"nav"
	"social"
}

aside{
	grid-area: aside;
	font-size: .9rem;
	text-align: center;
	padding: 20px;
}

main{
	margin-left: 452px;
	margin-bottom: 50px;
	padding: 18px;
	opacity: 0;
	animation-name: fadeIn;
	animation-duration: .5s;
	animation-fill-mode: forwards; 
	animation-delay: 0.3s;
}


#top-nav{
	grid-area: top;
	display: flex;
	justify-content: flex-end;
	margin-right: 12px;	
}

#top-nav ul{
	list-style: none;
}

#top-nav a{
	text-decoration: none;
	color: #FC5185;
}


#top-nav a:visited {
  text-decoration: none;

}

#my-name{
	overflow: hidden;
	text-align: center;
}

#my-name span {
	opacity: 0;
	display: inline-block;
	animation-name: tumbleWords;
	animation-duration: .5s;
	animation-fill-mode: forwards; 
	font-family: 'Fira Sans', sans-serif;
}



#social-nav{
	grid-area: social;
	align-self: end;
	height: 55px;
	width: 100%;
	color: #FC5185;
	text-align: center;
}

#social-nav img{
	height: 100%;
}


.color-bar{
	margin: auto;
	/* translateX: (-120%); */
	height: 3px;
	width: 300px;
	background-color: #FC5185;
	animation-name: barSlide;
	animation-timing-function: ease-out;
	animation-duration: 1.2s;
	animation-fill-mode: forwards; 
}

#big-name{
	grid-area: name;
}

#main-nav{
	grid-area: nav;
	list-style: none;
	padding-right: 15px;
	text-align: right;

}

#main-nav li{
	transform: translateY(100%);
	padding: 0 0 24px 0;
	opacity: 0;
	animation-name: menuSlide;
	animation-duration: .5s;
	animation-fill-mode: forwards; 
}

#main-nav a{
	padding: 0;
	list-style: none;
	text-decoration: none;
	color: #FC5185;
}



.date-line{
	font-family: 'Fira Sans', sans-serif;
	margin-top: 0;
}
.dropdown-btn{
	background-color: white;
	border: none;
	color: #5A5A5A;
	padding: 0 0 0 5px;
}

.array-boxes{
	width: 25px;
	height: 15px;
	display: inline-block;
	margin: 5px;
}


.theCode{
	background-color: #f1f1f1;
	width: 45%;
	font-family: "Consolas";
	margin-top: 10px;
}

.divide{
	margin: 40px 0;
	height: 3px;
	width: 300px;
	background-color: #FC5185;
}

.article-header{
	margin-bottom: 50px;
}

pre code{
	display: block;
	background-color: #f1f1f1;
	white-space: pre-wrap;
}

code{
	background-color: #f1f1f1;
}

#to-top{
	display: none;
	text-decoration: none;
	position: fixed;
	padding: 1rem;
	border-radius: 20px;
	bottom: 25px;
	right: 20px;
	text-align: center;
	font-size: 1rem;
	color: #f0f0f0;
	background-color: #FC5185; 
	border: none;
	opacity: .75;
}



.article-images{
	display: block;
	margin: auto;
	max-width: 540px;
	box-shadow: 0px 0px 30px -15px rgb(99, 99, 99);
}

.hideMe{
	display: none;
}


/* ==== Misc ==== */

.confetti{
	width: 5px;
	height: 12px;
	position: fixed;
	opacity: 0.15;
	z-index: -99;
}


#player-frame{
	width: 100%;
	height: 100%;
	border: none;
}


/* Animations */
@keyframes tumbleWords {
	0%{
		transform: translateY(-100px);	
		opacity: 0;
	}
	30% {
		transform: translateY(-100px);
		opacity: .0;		
	}
	50% {
		transform: translateY(2px);	
		opacity: .0;
	}
	75% {
		transform: translateY(-2px);
		opacity: .5;
	}	
	100%{
		transform: translateY(0px);
		opacity: 1;
	}
}

#my-name span:nth-child(1) {
	animation-delay: 0.1s;
}

#my-name span:nth-child(2) {
	animation-delay: 0.2s;
}

#my-name span:nth-child(3) {
	animation-delay: 0.3s;
}

#my-name span:nth-child(4) {
	padding-left: 15px;
	animation-delay: 0.4s;
}

#my-name span:nth-child(5) {
	animation-delay: 0.5s;
}

#my-name span:nth-child(6) {
	animation-delay: 0.6s;
}

#my-name span:nth-child(7) {
	animation-delay: 0.7s;
}

#my-name span:nth-child(8) {
	animation-delay: 0.8s;
}

#my-name span:nth-child(9) {
	animation-delay: 0.9s;
}

#my-name span:nth-child(10) {
	animation-delay: 1s;
}

@keyframes barSlide {
	0%{
		transform: translateX(-120%);		
	}	
	100%{
		transform: translateX(0);
	}
}

@keyframes menuSlide {
	0%{
		transform: translateY(-800%);	
		opacity: 0.0;
	}	
	100%{
		transform: translateY(0);
		opacity: 1;
	}
}

#main-nav li:nth-child(1) {
	animation-delay: 0.5s;
}

#main-nav li:nth-child(2) {
	animation-delay: 0.6s;
}

#main-nav li:nth-child(3) {
	animation-delay: 0.7s;
}


@keyframes fadeIn {
	0%{	
		opacity: 0.0;
	}	
	100%{
		opacity: 1;
	}
}

@media only screen and (max-width: 1000px){



	#my-name span{
		font-size: 12rem;
	}

	h2{
		font-size: 5rem;
	}
	
	p, span{
		font-size: 1.2rem;
	}

	#player-frame{
		width: 100%;
		height: 100%;
		border: none;
	}

	header{
		display: block;
		width: 100%;
		position: static;
	}

	aside{
		display: block;
	}

	aside p{
		font-size: 2rem;
	}

	main{
		display: block;
		margin: 0 0 50px 0;
	}

	pre code{
		display: block;
		background-color: #f1f1f1;
		white-space: pre-line;
	}

	.article-images{
		max-width: 540px;
	}

	.divide{
		margin: 40px 0;
		height: 3px;
		width: 100%;
		background-color: #FC5185;
	}

	#social-nav{
		height: 100px;
		margin: 0;
	}
	
	.confetti{
		display: none;
	}

	#to-top{
		display: none;
		text-decoration: none;
		position: fixed;
		padding: 1.5rem;
		border-radius: 20px;
		bottom: 25px;
		right: 20px;
		text-align: center;
		font-size: 2rem;
		color: #f0f0f0;
		background-color: #FC5185; 
		border: none;
	}

	.color-bar{
		width: 80%;
	}

	.mobile-color-bar{
		margin: auto;
		height: 3px;
		width: 80%;
		background-color: #FC5185;
		animation-name: fadeIn;
		animation-duration: 3s;
	}


}	